<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 로그 파일 기록을 위한 Appender 설정 -->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/board_log.log</file>  <!-- 로그 파일 위치 설정 -->
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%-5level] [%thread] %logger{36} : %msg%n
            </pattern>
        </encoder>

        <!-- 롤링 정책 설정 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/board_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- 최대 보관 일수 -->
        </rollingPolicy>
    </appender>

    <!-- 로그 레벨 및 Appender 설정 -->
    <root level="debug">
        <appender-ref ref="fileAppender" />
    </root>

</configuration>